<div class="container">
    <div class="row">
        <div class="col-sm-3" >    
            <div class="text-center">
                <h4 style="background-color: salmon;">alta de postres</h4>
            </div>        
            

            <p>
                <label>nombre:</label>
                <input type="text" class="form-control" [(ngModel)]="producto.nombre">
            </p>
            <p>
                <label>imagen:</label>
                <input type="url" class="form-control" [(ngModel)]="producto.url_img">
            </p>
            <p>
                <label>tamaño:</label>
                <input type="text" class="form-control" [(ngModel)]="producto.tamano">
            </p>
            <p>
                <label>tipo:</label>
                <input type="text" class="form-control" [(ngModel)]="producto.tipo">
            </p>
            <p>
                <label>descripcion:</label>
                <input type="text" class="form-control" [(ngModel)]="producto.descripcion">
            </p>
            <p>
                <label>precio:</label>
                <input type="number" class="form-control" [(ngModel)]="producto.precio">
            </p>
            <div class="text-center">
                <button type="button" style="background-color: salmon;" (click)="this.agregarProducto()">
                    agregar producto
                </button>
            </div>
            
                       
         
        </div>
        <div class="col text-center">    
            <table class="table">
                <thead>
                    <th>nombre</th>
                    <th>imagen</th>
                    <th>tamaño</th>
                    <th>tipo</th>
                    <th>descripcion</th>
                    <th>precio</th>
                    <th>opciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos" (click)="selectProducto(producto)">
                        <td>{{producto.nombre}}</td>
                        <td><img [src]="producto.url_img" width="100"/></td>  
                        <td>{{producto.tamano}}</td>
                        <td>{{producto.tipo}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.precio}}</td> 
                        <td>
                            <button type="button" class="btn-sm" style="background-color: salmon;" (click)="this.updateProducto()">
                                Modificar
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-dark btn-sm" (click)="this.deleteProducto(producto.id)">
                                x
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
   
 
        </div>
    </div>
</div>